.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
.leaf1, .leaf2{
    height: 300px;
    position: fixed;
    z-index: 3;
}
.leaf1{
    left: -4%;
    top: 1%;
}
.leaf2{
    right: 0;
    bottom: 0;
}
/* nav{
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    color: #66451C;
    top: 0;
    z-index:4;
    background-color: white;
}
.header a{
    color: #66451C;
    text-decoration: none;
}
.header_img img{
    height: 50px;
}
.header{
    display: flex;
    gap: 50px;
    font-size: 16px;
    align-items: center;
    display: none;
}
.header div{
    cursor: pointer;
}
.login button{
    padding: 8px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
} */
.footer{
    padding: 100px;
    background-color: #dee7ed;
    color: #415764;
    position: relative;
}
.footer_head{
    font-weight: bold;
    padding-bottom: 20px;
}
.footer1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}
.footer12{
    display: flex;
    flex-direction: column;
    gap: 10px;  
}
.footer3{
    width: 160px;
}
.footer4{
    display: flex;
    justify-content: space-between;
}
.footer_box{
    position: absolute;
    top: -8%;
    left: 23%;
    right: 23%;
    background-color: #ff166c;
    color: white;
    border-radius: 10px;
    padding: 20px 50px;
    font-size: 22px;
}
.footer_icon img{
    height: 30px;
    padding-left: 3px;
    cursor: pointer;
}




@media (max-width: 1200px){
    .menu{
        gap: 20px;
    }
    nav{
        padding: 0 10px;
    }
}


.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: red;
    border-radius: 1px;
    color: black;
  }
  
  .navbar {
    background-color: white;
  }
  
  .navbar a {
    color: black;
  }
  
  .navbar a:hover {
    color: black; 
  }
  
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: red;
    border-radius: 1px;
  }
  .navbar {
    background-color: white; 
  }
  
  .navbar a {
    color: black !important; 
  }
  
  .navbar a:hover {
    color: black !important; 
  }
  
  .navbar a:focus {
    color: black !important; 
  }
  
  .navbar-toggle {
    background-color: black;
    border: none; 
  }
  
  .navbar-toggle .icon-bar {
    background-color: white; 
  }
  
  .navbar-toggle:hover {
    background-color: #333;
  }
  
.navbar-brand img{
    height: 40px;
}
.nav .clock{
    padding: 10px ;
    font-size: 15px;
}
.nav .login{
    margin: 10px;
    background-color: #66451C;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}
.navbar-inverse{
    margin: 0;
}